/* Pop up */
.dialogue {
  background-color: #212529;
  font-size: 12px;
  width: 500px;
  color: white;
  font-weight: bold;
  padding: 25px;
}

.closeButton {
  position: absolute;
  padding: 0;
  margin-top: -20px;
  margin-left: 445px;
}

.submitButton {
  position: absolute;
  margin-left: 350px;
  margin-top: -20px;
  width: 100px;
}

.closepositionButton {
  font-size: 10px;
  color: green;
}

.formtitle {
  font-size: 20px;
}

.portfolioBox {
  width: 100%;
}

.AddButton {
  margin: 0;
  padding: 0;
}

.deleteButton {
  margin: 0;
  padding: 2px;
}

.divisorOne {
  width: 30%;
  float: left;
}

.divisorTwo {
  width: 40%;
  float: left;
}

.divisorThree {
  width: 30%;
  float: left;
}

.tickerTable {
  height: 500px;
  width: 50%;
  padding-left: 5px;
  padding-top: 5px;
}

.tickerCell,
.tickerHead {
  padding: 2px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

.tickerPortfolioHead,
.tickerPortfolioCell,
.reg,
.unreg {
  font-size: 10px;
  text-align: center;
  font-weight: 300;
  padding: 0;
}

.tickerPortfolioHead {
  font-weight: bold;
}

.tickerHead {
  background-color: #212529;
  width: 100px;
  color: white;
}

.unreg {
  color: red;
}
.reg {
  color: green;
}
