.TableContainer {
  background-color: transparent;
}
.PerfTableHeader,
.PerfTableCell {
  font-size: 11px;
  background-color: transparent;
  text-align: center;
  padding: 0;
  color: white;
  opacity: 90%;
}

.PerfTableCell {
  border-bottom: 1px solid white;
  border-top: none;
}

.PerfTableHeader {
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.PerfTableTitle,
.PerfTableMainHeader {
  font-size: 18px;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.PerfTableMainHeader {
  font-size: 13px;
}
