.tableContainer {
  width: 300px;
  padding: 0;
  font-size: 10px;
}

.urlLinks {
  font-size: 12px;
  text-decoration: none;
  color: darkblue;
}

.tablecellheader0,
.tablecellheader1,
.tablecellheader2 {
  padding: 0;
  font-size: 12px;
  text-align: center;
}

.tablecellheader0 {
  width: 50%;
}

.tablecellcontent {
  font-size: 12px;
  padding: 3px;
  text-align: center;
}
