.newsHeader {
  font-weight: bold;
  font-size: 14px;
  color: #5e5e5e;
}

.mainDiv {
  position: relative;
  padding-top: 20px;
  width: 1500px;
}

.authorsource {
  font-size: 11px;
  color: #5e5e5e;
}

.description,
.content {
  font-size: 11px;
}

.tablebody {
  height: 100%;
}

.tablecontainer {
  max-height: 300px;
  max-width: 35%;
}

.authorsource {
  padding-right: 100px;
}

.tablecell0,
.tablecell1,
.tablecell2 {
  padding: 0;
  margin: 0;
  height: 20px;
  max-height: 20px;
  overflow-y: hidden;
}
.tableheadcell0,
.tableheadcell1,
.tableheadcell2 {
  padding: 0;
  font-weight: bold;
}

.tablecell0,
.tableheadcell0 {
  padding: 5;
  width: 5%;
}

.tablecell1,
.tableheadcell1 {
  padding: 5;
  width: 75%;
}

.tablecell2,
.tableheadcell2 {
  padding: 5;
  width: 15%;
  padding-right: 10px;
}

.tablecell0,
.tablecell1,
.tablecell2 {
  font-size: 11px;
}

.urlLinks {
  font-size: 11px;
  text-decoration: none;
  color: darkblue;
}
