.tablecontainer {
  max-width: 35%;
  max-height: 300px;
  overflow-y: scroll;
}

.tablediv {
  width: 1500px;
  padding-top: 20px;
}

.tablebody,
.tablerow,
.tablehead {
  padding: 0;
  font-size: 10px;
}

.tableheadsubcell0,
.tableheadsubcell1 {
  padding: 0;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #5e5e5e;
}

.urlLinks {
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  text-align: center;
}

.tableheadsubcell0 {
  width: 15%;
}

.tableheadcontentcell {
  padding: 0;
  font-size: 11px;
  text-align: center;
}

.headertitle {
  font-weight: bold;
  color: #5e5e5e;
}

.tableheadsucellrelease {
  font-size: 12px;
  padding: 0;
  text-align: left;
}

.tableheadsucell {
  padding: 0;
  font-size: 12px;
  text-align: left;
}

.tableheadcell0,
.tableheadcell1,
.tableheadcell2,
.tableheadcell3 {
  padding: 0;
  font-size: 13px;
  color: #5e5e5e;
  font-weight: bold;
}

.tableheadcell0 {
  width: 10%;
}

.tableheadcell1 {
  width: 50%;
}

.tableheadcell2 {
  width: 20%;
  text-align: left;
}

.tableheadcell3 {
  width: 20%;
  text-align: left;
}

.namedesc {
  font-size: 11px;
}
