.main {
  background-color: #141721;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.portfolioContainer {
  padding: 5px;
  padding-left: 10px;
}

.TranscHist {
  font-size: 15px;
  color: white;
}
