.main {
  background-color: #141721;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.agencycalendar {
  float: left;
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
}

.progresscondition {
  position: relative;
  margin-left: -50px;
  float: left;
  padding: 0;
}

.reporttables {
  padding-right: 20px;
  height: 300px;
  position: relative;
  float: left;
}

.livenews {
  padding-top: 20px;
  padding-right: 20px;
  position: relative;
  float: left;
}

.pcheaders {
  padding-left: 55px;
  padding-top: 20px;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

/* Clear floats after the columns */
.all:after {
  content: '';
  display: table;
  clear: both;
}

.div0,
.div1,
.div2 {
  float: left;
}

.div0 {
  width: 22%;
}

.div1 {
  width: 43%;
}

.div2 {
  width: 35%;
}
