@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&&display=swap');

.AppBar {
  background-color: #141721;
  overflow: hidden;
  margin: 0;
}

.Link,
.LinkTitle {
  text-decoration: none;
  vertical-align: middle;
  margin-left: 50px;
  font-size: 13px;
}

.menuItem {
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.LinkTitle {
  font-size: 16px;
}

.clock,
.conn,
.SessId {
  color: white;
  vertical-align: middle;
  font-size: 13px;
}

.clock {
  opacity: 75%;
}

.navlinkitem {
  padding-right: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.navlinktext {
  color: 141721;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-family: 'Roboto', sans-serif;

  display: inline-block;
  padding: 10px 10px;
  padding-right: 20px;
  position: relative;
}

.navlinktext:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 4px;
  left: 50%;
  right: 50%;
  position: absolute;
  background: 141721;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navlinktext:hover:after {
  width: 95%;
  left: 0;
  right: 0;
}

.NavBar {
  background-color: #141721;
  color: white;
}
