.main {
  background-color: #141721;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.tickerCell,
.tickerHead {
  padding: 2px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

.tickerPortfolioHead,
.tickerPortfolioCell {
  font-size: 12px;
  background-color: transparent;
  text-align: center;
  padding: 0;
  color: white;
  opacity: 90%;
}
.tickerPortfolioHead {
  opacity: 60%;
}
.tickerPortfolioCell {
  height: 30px;
  border-bottom: 1px solid #141721;
}
.supcurr {
  font-size: 8px;
}
.tickerHead {
  background-color: #141721;
  width: 100px;
  color: white;
}

.dot {
  vertical-align: center;
  height: 7px;
  width: 7px;
  background-color: #bbb;
  margin-bottom: 1px;
  border-radius: 50%;
  display: inline-block;
}

.PortfolioHeader {
  font-size: 16px;
  color: white;
  font-weight: 300;
}
.PerformanceHeader {
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.lcHeader {
  font-size: 20px;
  color: white;
  font-weight: 300;
  padding-left: 5%;
  margin-top: 2%;
}
